<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo"
   args="$(find minik_gazebo)/world/sim_world.world" respawn="false" output="screen" />

  <!-- start gui -->
  <!-- <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/> -->

  <!-- include our robots -->
  <include file="$(find minik_gazebo)/launch/robots10.launch"/>

  <!--
  <node pkg="minik_gazebo" type="odom_publisher_node" name="odom_publisher_node" />
  -->

</launch>
