<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find minik_gazebo)/urdf/minik.xacro'" />

    <arg name="x" default="-0.5"/>
    <arg name="y" default="0.5"/>
    <arg name="z" default="0.5"/>

    <node name="mybot_spawn1" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model minik_gazebo -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>
