<launch>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find minik_gazebo)/launch/one_minik.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0.4" />
      <arg name="robot_description"  value="$(find xacro)/xacro --inorder '$(find minik_gazebo)/urdf/minik.xacro'" />
      <arg name="robot_name"  value="minik" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find minik_gazebo)/launch/one_minik.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0.4" />
      <arg name="robot_description"  value="$(find xacro)/xacro --inorder '$(find minik_gazebo)/urdf/minik2.xacro'" />
      <arg name="robot_name"  value="minik2" />
    </include>
  </group>



</launch>
