<launch>

	<!--
	<node pkg="realization" type="realization_node0" name="realization_node0" />-->
	<rosparam file="$(find realization)/config/goal4.YAML" />
	<!--
	<node pkg="detect_aruco_object" type="detect_aruco_object_node" name="detect_aruco_object_node" />
	<node pkg="pos_calculator" type="pos_calculator_node" name="pos_calculator_node" />
	-->
	<node pkg="realization" type="realization_complete_node0" name="realization_complete_node0" output="screen" />
	<node pkg="realization" type="realization_complete_node1" name="realization_complete_node1" />
	<node pkg="realization" type="realization_complete_node2" name="realization_complete_node2" />
	<node pkg="realization" type="realization_complete_node3" name="realization_complete_node3" />
  <node pkg="realization" type="realization_complete_node4" name="realization_complete_node4" />


	<!--
	<node pkg="realization" type="realization_node2" name="realization_node2" />
	<node pkg="realization" type="realization_node3" name="realization_node3" />
	<node pkg="realization" type="realization_node4" name="realization_node4" />
	<node pkg="realization" type="realization_node5" name="realization_node5" />
	<node pkg="realization" type="realization_node6" name="realization_node6" />

	<node pkg="realization" type="realization_node4" name="realization_node4" />
	<node pkg="realization" type="realization_node5" name="realization_node5" />
	<node pkg="realization" type="realization_node6" name="realization_node6" />
	-->


</launch>
